<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand">
    <img src="{{imageLogoPath}}" height="50px" />
  </a>

  <a class="navbar-brand toast-top-center" style="padding-bottom:41;padding-left: 300px;">
      <app-alert></app-alert>

  </a>

  <div class="nameheading">
    Hello :
    <!--<span *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</span>-->
    <span>
      {{userName}}
    </span>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <div style="clear: both;"></div>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <br/>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Pages">
        <div>
            <li  class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
                <a  id="mitem1"   [routerLink]="['/users']"  class="nav-link nav-link-collapse collapsed" data-toggle="collapse">
                  <i class="fa fa-fw fa-file"></i>
                  <span class="nav-link-text">Search Users</span>
                
               </a>
              </li>
          <li  class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
            <a   id="mitem2"  [routerLink]="['/users/create']"  class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
              <i class="fa fa-fw fa-file"></i>
              <span class="nav-link-text">Create User</span>
            
            </a>
          <!-- <ul class=" grid grid-pad sidenav-second-level collapse" id="collapseMulti">
              <li>
                <a [routerLink]="['/users']" routerLinkActive="active">Search User</a>
              </li>
               <li>
                <a [routerLink]="['/users/create']" routerLinkActive="active">Create User</a>
              </li>
             </ul>-->
          </li>
        </div>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" [routerLink]="['/login']" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </li>
    </ul>
    
      
    
  </div>
 
</nav>